@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .ubuntu-navbar {
    @apply flex flex-col space-y-4 p-4 m-3 bg-gray-100 rounded-lg shadow-lg;
    transition: transform 0.3s ease-in-out; /* Transition effect for smooth scaling */
  }

  .link {
    @apply font-medium text-blue-900 underline;
  }
  .i {
    @apply font-medium text-blue-900 underline;
  }
  .icon img {
    @apply lg:w-12 lg:h-12;
    transition: transform 0.3s ease-in-out;
  }

  .icon img:hover {
    transform: scale(1.1);
  }
  .tooltip-01 {
    transition-delay: 0.1s;
  }
  .kai-zoom {
    @apply absolute bottom-20 left-11 z-10;
    @apply lg:w-80 hover:lg:w-96;
    transition: transform 0.3s ease-in-out;
  }

  .kai-zoom:hover {
    transform: scale(1.1);
  }
}
